[submodule "Financial-Industry-Electricity-Balance-Scripts"]
	path = Financial-Industry-Electricity-Balance-Scripts
	url = https://github.com/GalaxyDigitalLLC/Financial-Industry-Electricity-Balance-Scripts.git
